html, body {
    height: 100%;
}

main {
    position: absolute;
    top: 65px;
    left: 0px;
    right: 0px;
    height: calc(100% - 75px - 65px) !important;
    margin-bottom: 100px;
}

.module-container {
    position: fixed;
    /*top: 65px;*/
    right: 0px;
    width: 300px;
    /*height: calc(100% - 75px - 65px) !important;*/
    overflow-y: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
}

.side-nav {
    top: 65px;

    padding-bottom: 0px;
    /*height: calc(100% - 75px - 65px) !important;*/
}

main {
    padding-left: 300px;
    padding-right: 300px;
}

#pageWrapper {
    overflow: auto;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 992px) {
    main {
        padding-left: 0;
        padding-right: 0;
    }
}

.flip {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.transfer_button {
    display: none;
    margin-right: 10px;
}

.editor {
    width: 90%;
    height: 400px;
}

select {
    width: 40%;
}

.quiz-container {
    overflow-y: auto;
    height: 860px;
}

#submit-question{
    margin-left: 15px;
}

#q1a,#q1b,#q1c,#q1d{
    width: 400px;
}
input.select-dropdown {
    color: teal;
}
input.required {
    width: 226px;
}

#edit_question_prompt, #teacher-notes-textarea, #edit_quiz_name,input.required.input-attempts,
#questionPrompt,#input-stdin,#input-stdout,#stdin-input-two,#stdout-input-two{
    padding-left: 10px;
    width: 98%;
    background-color: teal;
    color: white;
    border-bottom: 2px solid skyblue;
}

#dueEdit{
    padding-left: 10px;
    width: 98%;
    border-bottom: 2px solid skyblue;
}

#edit_quiz{
    padding-bottom: 10px;
}

#questionPrompt{
    width:98%;
}

table {
    table-layout: fixed;
}

#slide-out-quiz {
    z-index: 2;
}

#sidenav-overlay {
    z-index: 1;
}