files:
    "/etc/nginx/conf.d/proxy.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
           client_max_body_size 100M;
           proxy_send_timeout 3600;
           proxy_read_timeout 3600;
           send_timeout       3600;
container_commands:
  01-restart-nginx:
    command: /sbin/service nginx restart