###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file downloads a private key from Amazon S3 and configures nginx to use it
#### to terminate HTTPS connections on port 443. Replace the values in the Parameters section with
#### the URL of the private key in Amazon S3, and the contents of the public certificate. To
#### download the file, your environment's instance profile must have S3ReadOnlyAccess or a similar
#### policy attached. In a single instance environment, also include
#### https-singleinstance-securitygroup.config to allow traffic to the instance on port 443.
###################################################################################################

Parameters:
  privatekey:
    Type: String
    Description: "The path to the private key in Amazon S3"
    Default: "https://s3.amazonaws.com/elasticbeanstalk-us-east-1-088688726641/sslcerts/privatekey.key"
  publiccert:
    Type: String
    Description: "The public certificate"
    Default: |
      -----BEGIN CERTIFICATE-----
      MIIFQjCCBCqgAwIBAgIJAL/dBOC71rfhMA0GCSqGSIb3DQEBCwUAMIG0MQswCQYD
      VQQGEwJVUzEQMA4GA1UECBMHQXJpem9uYTETMBEGA1UEBxMKU2NvdHRzZGFsZTEa
      MBgGA1UEChMRR29EYWRkeS5jb20sIEluYy4xLTArBgNVBAsTJGh0dHA6Ly9jZXJ0
      cy5nb2RhZGR5LmNvbS9yZXBvc2l0b3J5LzEzMDEGA1UEAxMqR28gRGFkZHkgU2Vj
      dXJlIENlcnRpZmljYXRlIEF1dGhvcml0eSAtIEcyMB4XDTE3MDQwOTE4MjcwMFoX
      DTE4MDQwOTE4MjcwMFowQDEhMB8GA1UECxMYRG9tYWluIENvbnRyb2wgVmFsaWRh
      dGVkMRswGQYDVQQDExJtYXN0ZXJteWNvdXJzZS5jb20wggEiMA0GCSqGSIb3DQEB
      AQUAA4IBDwAwggEKAoIBAQDrQLz/6thZvKqB09yLYcPujFYG15syIEkEGJM6K0oB
      76AHaqCS8nQR2oKyBdOYdCRuepuMJNO2dF7TyNjJIH2jf5BzSlB4y3rCGeCjktSw
      5paUeJdUSzLX+uE4WTJJ7QZXJp58IW0rpvS5XDsXFDZFA7rQnSEtLFF4vvxiGlBb
      EU6ruIlovY2/jS/jS4+4fSZgY+JLSB1H6gJsNCVPgnzyF0M1lMG+nJu/InrIfiZ/
      OQHJjILyRXmGABcdEbdaabzgK5FZKsbbYUjIGJ6cLE5YflFrx2ux8rZE7illcWcs
      i2mzS1mxWUdrW3wg9W2fGVEWghB5YUGiYh9Crx6MNolZAgMBAAGjggHIMIIBxDAM
      BgNVHRMBAf8EAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAOBgNV
      HQ8BAf8EBAMCBaAwNwYDVR0fBDAwLjAsoCqgKIYmaHR0cDovL2NybC5nb2RhZGR5
      LmNvbS9nZGlnMnMxLTQ2OS5jcmwwXQYDVR0gBFYwVDBIBgtghkgBhv1tAQcXATA5
      MDcGCCsGAQUFBwIBFitodHRwOi8vY2VydGlmaWNhdGVzLmdvZGFkZHkuY29tL3Jl
      cG9zaXRvcnkvMAgGBmeBDAECATB2BggrBgEFBQcBAQRqMGgwJAYIKwYBBQUHMAGG
      GGh0dHA6Ly9vY3NwLmdvZGFkZHkuY29tLzBABggrBgEFBQcwAoY0aHR0cDovL2Nl
      cnRpZmljYXRlcy5nb2RhZGR5LmNvbS9yZXBvc2l0b3J5L2dkaWcyLmNydDAfBgNV
      HSMEGDAWgBRAwr0njsw0gzCiM9f7bLPwtCyAzjA1BgNVHREELjAsghJtYXN0ZXJt
      eWNvdXJzZS5jb22CFnd3dy5tYXN0ZXJteWNvdXJzZS5jb20wHQYDVR0OBBYEFCuD
      vzwVfVxAuvIfOGIhWoS63V06MA0GCSqGSIb3DQEBCwUAA4IBAQAPpJsRv/zBlxyz
      2C8Xavb3iv+cTFolHLkewkOPoiQb7aU0pDYG0wv54bRn6hE4hq/mr/Zc754kbpwH
      H1B2k3D963zLVD/VaXgrkLOCTsqIqhpsTwbjJ9H0nv1NMs91POnoayUCCRzh090u
      45m2xeuUzlEUkIrTqvlEQSbTQTWrvXpz2tMdBYOI374WLSfCuvBDZQtSIXyYffnk
      td5TfeT4PEvYzftosBcCjHnBTKqhYyGfEqCqCwriz3A3sm1yyp6NHsQxMB8gxGLz
      NAMYJdLh0tPnlUdtOj79tR/lCt8MhB39CaI+nMY71EU5rkfwW4HFwwB5XvHgEn6S
      VVAZn2fo
      -----END CERTIFICATE-----

##############################################
#### Do not modify values below this line ####
##############################################

files:
  # nginx HTTPS configuration
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server

      server {
        listen 443;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;

          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
      }

  # Public certificate
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: { "Ref": "publiccert"}

  # Private key
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: { "Ref" : "privatekey" }

container_commands:
  01restart_nginx:
    command: "service nginx restart"

Resources:
  # Use instance profile to authenticate to S3 bucket that contains the private key
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"